<div class="intro-background"></div>
<div class="intro-header-background"></div>
<div class="intro-text-background">
    <svg viewBox="0 0 75 8" style="width: 100%">
        <text x="0" y="7">First Line Software</text>
    </svg>
</div>
<div class="intro-content indent-b">
    <h2>Правда или вымысел</h2>
    <p>Выведи нас на чистую воду<br/>Самые занимательные IT-факты</p>
    <div>
        <input readonly class="form-button button-transparent" data-bind="click: startTestButtonClick" onfocus="this.blur()" value="Туть" />
    </div>
</div>