<div class="intro-background"></div>
<div class="intro-header-background"></div>
<div class="content-v-centered indent-b">
    <div class="bg-colored indent-all content-transparent">
        <h2 class="centered-h">Прокачай IT-IQ:</h2>
        <div class="felix"></div>
        <p class="centered-h content-felix">- проверь себя;<br>- тебе решать: правда или вымысел</p>
        <div class="centered-h">
            <input readonly class="form-button button-transparent" data-bind="click: startTestButtonClick" onfocus="this.blur()" value="Начать" />
        </div>
    </div>
</div>