<div class="polls-form">
    <!-- ko if: text.length -->
        <div class="polls-form-header">
            <h2 data-bind="text: text"></h2>
        </div>
    <!-- /ko -->

    <div class="polls-form-content indent-all">
        <div class="polls-counter"><span class="current" data-bind="text: currentQuestionNumber"></span> из <span data-bind="text: countOfQuestions"></span></div>
        <ul class="polls-ul">
            <li class="polls-li">
                <input type="radio" id="poll_1" value="1" data-bind="checked: selectedAnswer"/>
                <label for="poll_1">Правда</label>
            </li>
            <li class="polls-li">
                <input type="radio" id="poll_0" value="0" data-bind="checked: selectedAnswer"/>
                <label for="poll_0">Неправда</label>
            </li>
        </ul>
        <div class="polls-buttons">
            <input readonly class="form-button" onfocus="this.blur()" value="Продолжить" data-bind="enable: +selectedAnswer() !== -1, click: answerButtonClick" />
        </div>
    </div>
</div>